/* ==== Tema global del sidebar-usuario ==== */
:root {
    /* === Fondo y estructura === */
    --color-bg: #ffffff;
    --color-sidebar-bg: #ffffff;
    --color-main-bg: #ffffff;
    --color-card-bg: #fcfcfc;
    --color-sub-menu-bg: #e7e7e7;
    --color-sub-menu-button-bg: #f9f9f9;
    --color-bg-transparent: rgba(0, 0, 0, 0.1);

    /* === Texto y colores principales === */
    --color-text: #342e37;
    --color-text-soft: #342e37;
    --color-muted: #6c757d;
    --color-border: #e5e7eb;
    --color-border-secondary: #342e37;

    /* === Colores de acento y efectos === */
    --color-accent: #3d31b2;
    --color-accent-pastel: #B2F0FF;
    --shadow-accent: rgba(61, 49, 178, 0.25);
    --color-hover: #f9f9f9;
    --color-hover-degraded: #e5e5e5;

    /* === Inversos / alternativos === */
    --color-inverse: #111111;
    --color-normal: #ffffff;
    --color-dark-inverse: #2b242e;

    /* === Tablas / Celdas === */
    --color-cell-border: #e5e7eb;

    /* === Inputs === */
    --color-input-bg: #ffffff;
    --color-input-border: #342e37;
    /* --color-input-border: #ced4da; */
    --color-input-border-hover: #a8a8a8;
    --color-input-placeholder: #6c757d;

    /* === Tablas === */
    --color-table-header-bg: #ffffff;
    --color-table-stripet-bg: #eeeeee;

    /* === Scrollbar === */
    --scrollbar-track: #ffffff;
    --scrollbar-thumb: #cccccc;
    --scrollbar-hover: #5a5a5a;

    /* === Ripple === */
    --ripple-color-btn: rgba(0, 0, 0, 0.15);
    --ripple-color-card: rgba(255, 150, 255, 0.15);

}

.dark {
    /* === Fondo y estructura === */
    --color-bg: #111110;
    --color-sidebar-bg: #181818;
    --color-main-bg: #121212;
    /* 
    --color-sidebar-bg: #0F0F0F;
    --color-main-bg: #000000;
    */
    --color-card-bg: #1a1a1a;
    --color-sub-menu-bg: #111111;
    --color-sub-menu-button-bg: #212121;
    --color-bg-transparent: rgba(255, 255, 255, 0.2);

    /* === Texto y colores principales === */
    --color-text: #e9e9e9;
    --color-text-soft: rgba(233, 233, 233, 0.6);
    --color-secondary: #bbbbbb;
    --color-border: #212121;
    --color-border-secondary: #aaaaaa;
    --color-muted: #aaaaaa;

    /* === Colores de acento y efectos === */
    --color-accent: #d11e4b;
    --color-accent-pastel: #FFE5E5;
    --shadow-accent: rgba(209, 30, 75, 0.3);
    --color-hover: #212121;
    --color-hover-degraded: #2a2a2a;

    /* === Inversos / alternativos === */
    --color-inverse: #eeeeee;
    --color-normal: #111111;
    --color-dark-inverse: #e9e9e9;

    /* === Tablas / Celdas === */
    --color-cell-border: #242424;

    /* === Inputs === */
    --color-input-bg: #2a2a2a;
    /*--color-input-bg: #e2e2e2;*/
    --color-input-border: #444;
    --color-input-border-hover: #666;
    --color-input-placeholder: #aaaaaa;

    /* === Tablas === */
    --color-table-header-bg: #181818;
    --color-table-stripet-bg: #181818;

    /* === Scrollbar === */
    --scrollbar-track: #181818;
    --scrollbar-thumb: #444;
    --scrollbar-hover: #c1c1c1;

    /* === Ripple === */
    --ripple-color-btn: rgba(255, 255, 255, 0.1);
    --ripple-color-card: rgba(0, 0, 0, 0.2);
}

/* ==== Colores Estados ==== */
:root {
    --color-primary: #19247f;
    --color-primary-hover: #141c66;
    --color-primary-pastel: #e5f0ff;

    --color-secondary: #342e37;
    --color-secondary-hover: #2b242e;
    --color-secondary-pastel: #f0eefc;

    --color-success: #009900;
    --color-success-hover: #007a00;
    --color-success-pastel: #e5f9e7;

    --color-danger: #d30035;
    --color-danger-hover: #a50029;
    --color-danger-pastel: #ffe5e5;

    --color-warning: #ffa000;
    --color-warning-hover: #e68a00;
    --color-warning-pastel: #fff7e0;

    --color-info: #1d61d0;
    --color-info-hover: #164da6;
    --color-info-pastel: #e5faff;

    --color-orange: #ff5722;
    --color-orange-hover: #e64a19;
    --color-orange-pastel: #fff0e6;

    --color-purple: #3b0270;
    --color-purple-hover: #30035a;
    --color-purple-pastel: #f2e2ff;

    --color-pink: #e83e8c;
    --color-pink-hover: #c21c6a;
    --color-pink-pastel: #ffe6f1;

    --color-light: #f8f9fa;
    --color-light-hover: #e9ecef;

    --color-dark: #212529;
    --color-dark-hover: #0d0f12;
}

/* ==== Otros ==== */
:root {
    --font-primary: "Lato", sans-serif;
    --font-secondary: "Poppins", sans-serif;

    --max-width: 1200px;
    --fw-regular: 400;
    --fw-bold: 700;

    --sidebar-expanded-width: 16rem;
    --sidebar-collapsed-width: 5rem;

    --navbar-height: 60px;
    --transition-sidebar-base: 0.2s ease-in-out;

    --shadow-material: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

/* ==== Bordes radius ==== */
:root {
    /* Bordes generales */
    --radius-none: 0;
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 12px;
    --radius-xl: 16px;
    --radius-2xl: 20px;

    /* Bordes específicos */
    --radius-card: 16px;
    /* tarjetas principales */
    --radius-card-inner: 10px;
    /* contenido interno de la tarjeta */
    --radius-element: 3px;
    /* botones, inputs, etc */
}

/* ==== Estructura base ==== */

.border-default {
    border-color: var(--color-border);
}

.text-bolder {
    font-weight: bolder;
    font-family: var(--font-secondary);
}

/* ==========================================
   TIPOGRAFÍA RESPONSIVE
   ========================================== */

:root {
    /* Títulos grandes */
    --font-size-h1: clamp(1.5rem, 2.5vw, 2.4rem);
    /* Títulos secundarios */
    --font-size-h2: clamp(1.25rem, 2vw, 1.625rem);
    /* Subtítulos / paneles */
    --font-size-h3: clamp(1.125rem, 1.7vw, 1.28rem);
    /* Texto general */
    --font-size-p: clamp(0.88rem, 1.5vw, 0.89rem);
    /* Texto secundario (inputs, etc.) */
    --font-size-sm: clamp(0.85rem, 1.2vw, 0.86rem);
    /* Ayuda, tooltips */
    --font-size-xs: clamp(0.75rem, 1vw, 0.82rem);
}

/* Tipografías base para escritorio (≥ 992px) 
:root {
    --font-size-h1: 2.4rem;
    --font-size-h2: 1.625rem;
    --font-size-h3: 1.28rem;
    --font-size-p: 0.89rem;
    --font-size-sm: 0.86rem;
    --font-size-xs: 0.82rem;
}
*/

/* Tablets (768px – 991px)
@media (max-width: 991px) {
    :root {
        --font-size-h1: 1.95rem;
        --font-size-h2: 1.5rem;
        --font-size-h3: 1.25rem;
        --font-size-p: 0.88rem;
        --font-size-sm: 0.85rem;
        --font-size-xs: 0.8rem;
    }
}

/* Móviles pequeños (≤ 576px)
@media (max-width: 576px) {
    :root {
        --font-size-h1: 1.5rem;
        --font-size-h2: 1.25rem;
        --font-size-h3: 1.125rem;
        --font-size-p: 0.88rem;
        --font-size-sm: 0.875rem;
        --font-size-xs: 0.75rem;
        --sombra-material: 0px;
    }
}
*/
/* ==========================================
   TIPOGRAFÍA ELEMENTOS
   ========================================== */
@layer base {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: var(--color-text);
    }

    body {
        background-color: var(--color-sidebar-bg);
        color: var(--color-text);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    small {
        margin: 0px;
    }

    h1 {
        font-size: var(--font-size-h1);
        font-weight: bolder;
    }

    h2 {
        font-size: var(--font-size-h2);
        font-weight: bolder;
    }

    h3 {
        font-size: var(--font-size-h3);
    }

    p {
        font-size: var(--font-size-p);
    }

    small {
        font-size: var(--font-size-xs);
        display: inline-block;
    }
    strong {
        font-size: inherit;
        font-family: var(--font-secondary);
        color: var(--color-text);
    }
}

/* ==========================================
   ESTILOS GENERALES
   ========================================== */

::selection {
    background-color: var(--color-accent);
    color: white;
}

.text-xs {
    font-size: var(--font-size-xs);
}

.text-sm {
    font-size: var(--font-size-sm);
}

.text-md {
    font-size: var(--font-size-p);
}

.text-lg {
    font-size: var(--font-size-h2);
}

/* === Colores personalizados para íconos del dashboard === */
.card-primary {
    background-color: var(--color-primary-pastel);
    color: var(--color-primary);
}

.card-secondary {
    background-color: var(--color-secondary-pastel);
    color: var(--color-secondary);
}

.card-success {
    background-color: var(--color-success-pastel);
    color: var(--color-success);
}

.card-danger {
    background-color: var(--color-danger-pastel);
    color: var(--color-danger);
}

.card-warning {
    background-color: var(--color-warning-pastel);
    color: var(--color-warning);
}

.card-info {
    background-color: var(--color-info-pastel);
    color: var(--color-info);
}

.card-orange {
    background-color: var(--color-orange-pastel);
    color: var(--color-orange);
}

.card-purple {
    background-color: var(--color-purple-pastel);
    color: var(--color-purple);
}

.card-pink {
    background-color: var(--color-pink-pastel);
    color: var(--color-pink);
}


/* ==========================================
   COLORES DE BOTONES Y FONDOS
   ========================================== */
.boton-accent, .boton-danger, .boton-primary, .boton-secondary,
.boton-success, .boton-info, .boton-purple, .boton-pink, .boton-orange,
.boton-dark{
    color: white;
}

.boton-warning {
    color: black;
}

.boton-accent,
.bg-accent {
    background-color: var(--color-accent);
}

.bg-dashboard {
    background-color: var(--color-sidebar-bg);
}

.boton-secundario,
.bg-secundario {
    background-color: var(--color-secundario);
}

.boton-danger,
.bg-danger {
    background-color: var(--color-danger);
}

.boton-primary,
.bg-primary {
    background-color: var(--color-primary);
}

.boton-secondary,
.bg-secondary {
    background-color: var(--color-secondary);
}

.boton-success,
.bg-success {
    background-color: var(--color-success);
}

.boton-warning,
.bg-warning {
    background-color: var(--color-warning);
    color: black;
}

.boton-info,
.bg-info {
    background-color: var(--color-info);
    border-color: var(--color-info);
}

.boton-purple,
.bg-purple {
    background-color: var(--color-purple);
}

.boton-pink,
.bg-pink {
    background-color: var(--color-pink);
}

.boton-orange,
.bg-orange {
    background-color: var(--color-orange);
}

.boton-light,
.bg-light {
    background-color: var(--color-light);
    color: var(--color-text);
}

.boton-dark,
.bg-dark {
    background-color: var(--color-dark);
}

/* HOVERS SOLO PARA BOTONES */
.boton-primary:hover {
    background-color: var(--color-primary-hover);
}

.boton-secondary:hover {
    background-color: var(--color-secondary-hover);
}

.boton-success:hover {
    background-color: var(--color-success-hover);
}

.boton-danger:hover {
    background-color: var(--color-danger-hover);
}

.boton-purple:hover {
    background-color: var(--color-purple-hover);
}

.boton-pink:hover {
    background-color: var(--color-pink-hover);
}

.boton-orange:hover {
    background-color: var(--color-orange-hover);
}

.boton-warning:hover {
    background-color: var(--color-warning-hover);
    color: var(--color-text);
    /* se mantiene legible */
}

.boton-info:hover {
    background-color: var(--color-info-hover);
    border-color: var(--color-info-hover);
}

.boton-light:hover {
    background-color: var(--color-light-hover);
    color: var(--color-text);
}

.boton-dark:hover {
    background-color: var(--color-dark-hover);
}

.boton-modal-close{
    background-color: var(--color-dark-inverse);
    color: var(--color-normal);
}

.text-base {
    color: var(--color-text);
}

.text-base-inverted {
    color: var(--color-bw-inverted);
}

.text-accent {
    color: var(--color-accent);
}

.text-secundario {
    color: var(--color-secundario);
}

.text-primary {
    color: var(--color-primary);
}

.text-success {
    color: var(--color-success);
}

.text-danger {
    color: var(--color-danger);
}

.text-warning {
    color: var(--color-warning);
}

.text-info {
    color: var(--color-info);
}

.text-purple {
    color: var(--color-purple);
}

.text-orange {
    color: var(--color-orange);
}

.text-pink {
    color: var(--color-pink);
}

.text-black {
    color: var(--color-bw);
}

.text-muted {
    color: var(--color-muted);
}

.text-link {
    color: var(--color-text-link);
}

.text-link:hover {
    color: var(--color-primario);
    text-decoration: underline;
}

.text-link {
    color: var(--color-text-link);
}

.text-link:hover {
    color: var(--color-primario);
    text-decoration: underline;
}

@view-transition {
    navigation: auto;
}

::view-transition-group(*) {
    animation-duration: 0.5s;
}

::view-transition-old(root) {
    animation: fade-out 0.3s ease-in;
}

::view-transition-new(root) {
    animation: fade-in 0.3s ease-out;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
