/* ==== Tema global del sidebar-usuario ==== */
:root {
    --color-bg: #ffffff;
    /*--color-sidebar-bg: #f9f9f9;*/
    --color-sidebar-bg: #FFFFFF;
    --color-main-bg: #ffffff;
    --color-sub-menu-bg: #e7e7e7;
    --color-sub-menu-button-bg: #f9f9f9;
    --color-bg-transparent: rgba(0, 0, 0, 0.1);

    --color-card-bg: #fdfdfd;

    --color-text: #342e37;
    --color-text-bw: #111111;
    --color-border: #e5e7eb;
    --color-muted: #6c757d;
    --color-accent: #3D31B2;
    --color-hover: #f9f9f9;

    /* Scrollbar */
    --scrollbar-track: #ffffff;
    --scrollbar-thumb: #cccccc;
    --scrollbar-hover: #5a5a5a;
}

.dark {
    --color-bg: #111110;
    --color-sidebar-bg: #181818;
    --color-main-bg: #121212;
    --color-sub-menu-bg: #111111;
    --color-sub-menu-button-bg: #212121;
    --color-bg-transparent: rgba(255, 255, 255, 0.2);

    --color-card-bg: #1a1a1a;

    --color-text: #e9e9e9;
    --color-text-bw: #eeeeee;
    --color-secondary: #bbbbbb;
    --color-border: #212121;
    --color-muted: #aaaaaa;
    --color-accent: #d11e4b;
    --color-hover: #212121;

    /* Scrollbar */
    --scrollbar-track: #181818;
    --scrollbar-thumb: #444;
    --scrollbar-hover: #c1c1c1;
}

/* ==== Colores Estados ==== */
:root {
    --color-primary: #19247f;
    --color-primary-hover: #141c66;
    --color-primary-pastel: #e5f0ff;

    --color-secondary: #342e37;
    --color-secondary-hover: #2b242e;
    --color-secondary-pastel: #f0eefc;

    --color-success: #009900;
    --color-success-hover: #007a00;
    --color-success-pastel: #e5f9e7;

    --color-danger: #d30035;
    --color-danger-hover: #a50029;
    --color-danger-pastel: #ffe5e5;

    --color-warning: #ffa000;
    --color-warning-hover: #e68a00;
    --color-warning-pastel: #fff7e0;

    --color-info: #1d61d0;
    --color-info-hover: #164da6;
    --color-info-pastel: #e5faff;

    --color-orange: #ff5722;
    --color-orange-hover: #e64a19;
    --color-orange-pastel: #fff0e6;

    --color-purple: #3b0270;
    --color-purple-hover: #30035a;
    --color-purple-pastel: #f2e2ff;

    --color-pink: #e83e8c;
    --color-pink-hover: #c21c6a;
    --color-pink-pastel: #ffe6f1;

    --color-light: #f8f9fa;
    --color-light-hover: #e9ecef;

    --color-dark: #212529;
    --color-dark-hover: #0d0f12;
}

/* ==== Otros ==== */
:root {
    --font-primary: "Lato", sans-serif;
    --font-secondary: "Poppins", sans-serif;

    --max-width: 1200px;
    --fw-regular: 400;
    --fw-bold: 700;

    --sidebar-expanded-width: 16rem;
    --sidebar-collapsed-width: 5rem;

    --navbar-height: 60px;
    --transition-sidebar-base: 0.2s ease-in-out;
}

/* ==== Bordes radius ==== */
:root {
    /* Bordes generales */
    --radius-none: 0;
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 12px;
    --radius-xl: 16px;
    --radius-2xl: 20px;

    /* Bordes específicos */
    --radius-card: 16px;
    /* tarjetas principales */
    --radius-card-inner: 10px;
    /* contenido interno de la tarjeta */
    --radius-element: 3px;
    /* botones, inputs, etc */
}

/* ==== Estructura base ==== */

.text-primary {
    color: var(--color-text);
}

.text-secondary {
    color: var(--color-secondary);
}

.border-default {
    border-color: var(--color-border);
}

.text-bolder{
    font-weight: bolder;
    font-family: var(--font-secondary);
}

/* ==========================================
   TIPOGRAFÍA RESPONSIVE
   ========================================== */

:root {
    /* Tipografías base para escritorio (≥ 992px) */
    --font-size-h1: 2.4rem;
    /* Títulos grandes */
    --font-size-h2: 1.625rem;
    /* Títulos secundarios */
    --font-size-h3: 1.28rem;
    /* Subtítulos / paneles */
    --font-size-p: 0.89rem;
    /* Texto general */
    --font-size-sm: 0.86rem;
    /* Texto secundario (inputs, etc.) */
    --font-size-xs: 0.82rem;
    /* Ayuda, tooltips */
}

/* Tablets (768px – 991px) */
@media (max-width: 991px) {
    :root {
        --font-size-h1: 1.95rem;
        --font-size-h2: 1.5rem;
        --font-size-h3: 1.25rem;
        --font-size-p: 0.88rem;
        --font-size-sm: 0.85rem;
        --font-size-xs: 0.8rem;
    }
}

/* Móviles pequeños (≤ 576px) */
@media (max-width: 576px) {
    :root {
        --font-size-h1: 1.5rem;
        --font-size-h2: 1.25rem;
        --font-size-h3: 1.125rem;
        --font-size-p: 0.88rem;
        --font-size-sm: 0.875rem;
        --font-size-xs: 0.75rem;
        --sombra-material: 0px;
    }
}

/* ==========================================
   TIPOGRAFÍA ELEMENTOS
   ========================================== */
@layer base {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: var(--color-text);
    }
    body {
        background-color: var(--color-sidebar-bg);
        color: var(--color-text);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    small {
        margin: 0px;
    }

    h1 {
        font-size: var(--font-size-h1);
        font-weight: bolder;
    }

    h2 {
        font-size: var(--font-size-h2);
        font-weight: bolder;
    }

    h3 {
        font-size: var(--font-size-h3);
    }

    p {
        font-size: var(--font-size-p);
    }

    small {
        font-size: var(--font-size-xs);
        display: inline-block;
    }
    strong{
        font-weight: bolder;
        font-family: var(--font-secondary);
    }
}

/* ==========================================
   ESTILOS GENERALES
   ========================================== */

::selection {
    background-color: var(--color-accent);
    color: white;
}

.text-xs {
    font-size: var(--font-size-xs);
}

.text-sm {
    font-size: var(--font-size-sm);
}

.text-md {
    font-size: var(--font-size-p);
}

.text-lg {
    font-size: var(--font-size-h2);
}

/* ==========================================
   COLORES DE BOTONES Y FONDOS
   ========================================== */

.btn-primario,
.bg-primario {
    background-color: var(--color-primario);
    transition: var(--transition-general);
}

.btn-secundario,
.bg-secundario {
    background-color: var(--color-secundario);
    transition: var(--transition-general);
}

.btn-danger,
.bg-danger {
    background-color: var(--color-danger);
}

.btn-primary,
.bg-primary {
    background-color: var(--color-primary);
}

.btn-secondary,
.bg-secondary {
    background-color: var(--color-secondary);
}

.btn-success,
.bg-success {
    background-color: var(--color-success);
}

.btn-warning,
.bg-warning {
    background-color: var(--color-warning);
    color: var(--color-text);
}

.btn-info,
.bg-info {
    background-color: var(--color-info);
    border-color: var(--color-info);
}

.btn-purple,
.bg-purple {
    background-color: var(--color-purple);
}

.btn-pink,
.bg-pink {
    background-color: var(--color-pink);
}

.btn-orange,
.bg-orange {
    background-color: var(--color-orange);
}

.btn-light,
.bg-light {
    background-color: var(--color-light);
    color: var(--color-text);
}

.btn-dark,
.bg-dark {
    background-color: var(--color-dark);
}

/* HOVERS SOLO PARA BOTONES */
.btn-primary:hover {
    background-color: var(--color-primary-hover);
}

.btn-secondary:hover {
    background-color: var(--color-secondary-hover);
}

.btn-success:hover {
    background-color: var(--color-success-hover);
}

.btn-danger:hover {
    background-color: var(--color-danger-hover);
}

.btn-purple:hover {
    background-color: var(--color-purple-hover);
}

.btn-pink:hover {
    background-color: var(--color-pink-hover);
}

.btn-orange:hover {
    background-color: var(--color-orange-hover);
}

.btn-warning:hover {
    background-color: var(--color-warning-hover);
    color: var(--color-text);
    /* se mantiene legible */
}

.btn-info:hover {
    background-color: var(--color-info-hover);
    border-color: var(--color-info-hover);
}

.btn-light:hover {
    background-color: var(--color-light-hover);
    color: var(--color-text);
}

.btn-dark:hover {
    background-color: var(--color-dark-hover);
}

.btn-modal-close,
.bg-modal-close {
    background-color: var(--color-close);
    color: var(--color-bw-inverted);
}

.text-base {
    color: var(--color-text);
    transition: color 0.3s ease-in-out;
}

.text-base-inverted {
    color: var(--color-bw-inverted);
    transition: color 0.3s ease-in-out;
}

.text-primario {
    color: var(--color-primario);
    transition: color 0.3s ease-in-out;
}

.text-secundario {
    color: var(--color-secundario);
    transition: color 0.3s ease-in-out;
}

.text-primary {
    color: var(--color-primary);
    transition: color 0.3s ease-in-out;
}

.text-success {
    color: var(--color-success);
    transition: color 0.3s ease-in-out;
}

.text-danger {
    color: var(--color-danger);
    transition: color 0.3s ease-in-out;
}

.text-warning {
    color: var(--color-warning);
    transition: color 0.3s ease-in-out;
}

.text-info {
    color: var(--color-info);
    transition: color 0.3s ease-in-out;
}

.text-purple {
    color: var(--color-purple);
    transition: color 0.3s ease-in-out;
}

.text-orange {
    color: var(--color-orange);
    transition: color 0.3s ease-in-out;
}

.text-pink {
    color: var(--color-pink);
    transition: color 0.3s ease-in-out;
}

.text-black {
    color: var(--color-bw);
    transition: color 0.3s ease-in-out;
}

.text-muted {
    color: var(--color-muted);
    transition: color 0.3s ease-in-out;
}

.text-link {
    color: var(--color-text-link);
}

.text-link:hover {
    color: var(--color-primario);
    text-decoration: underline;
}

.text-link {
    color: var(--color-text-link);
}

.text-link:hover {
    color: var(--color-primario);
    text-decoration: underline;
}

@view-transition {
    navigation: auto;
}

::view-transition-group(*) {
    animation-duration: 0.5s;
}

::view-transition-old(root) {
    animation: fade-out 0.3s ease-in;
}

::view-transition-new(root) {
    animation: fade-in 0.3s ease-out;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
