@import "./layout-admin.css";


@import "./modules/dashboard.css";
@import "./modules/categories.css";
@import "./modules/category-hierarchy.css";
@import "./modules/roles.css";
@import "./modules/profile.css";


@import "./components/breadcrumb.css";
@import "./components/table.css";
@import "./components/form.css";
@import "./components/validation.css";
@import "./components/alert.css";
@import "./components/button.css";
@import "./components/modal-confirm.css";
@import "./components/modal-info.css";
@import "./components/modal-toast.css";
@import "./components/modal-familia.css";

@import "./components/mobile-dropdown.css";

@import "./visuals/material-design.css";
@import "./visuals/background-design.css";