/* Transición de entrada para partials de tabs */
.fade-in {
    animation: fadeInTab 0.4s ease;
}

@keyframes fadeInTab {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Estilos personalizados para el perfil de usuario */

.profile-container {
    width: 100%;
    border-radius: var(--radius-card);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

.profile-avatar-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-card);
}

.profile-avatar {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    box-shadow: 0 2px 8px var(--shadow-accent);
    background: var(--color-bg);
    border: 4px solid white;
}

.profile-rol {
    color: var(--color-muted);
}

.profile-description {
    font-family: var(--font-secondary);
    font-size: var(--font-size-p);
}

.profile-tabs {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.profile-tab-btn {
    background: var(--color-card-bg);
    border: none;
    padding: 10px 20px;
    border: 1px solid var(--color-border);
    border-radius: 50px;
    text-transform: capitalize;
    font-size: var(--font-size-p);
    cursor: pointer;
    font-weight: 500;
    font-family: var(--font-secondary);
}

.profile-content {
    padding: 0px;
}

.profile-tab-btn:hover {
    background-color: var(--color-hover);
}

.profile-tab-btn.active {
    background: var(--color-accent);
    color: white;
}

.profile-tab-content {
    display: block;
}
.profile-tab-content.hidden {
    display: none;
}

.form-profile-column {
    flex: 1 1 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--color-card-bg);
    padding: 20px 1rem;
    border-radius: var(--radius-card);
    border: 1px solid var(--color-border);
}

.form-profile-column.column-password {
    background-color: var(--color-danger-pastel);
    border: 2px solid var(--color-danger);
}

.form-profile-column.column-password .label-form {
    color: var(--color-danger);
}

/* Otros detalles */
.profile-avatar-small {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid var(--color-accent);
}

label {
    color: var(--color-text);
    font-weight: 500;
}

@media (max-width: 639px) {
    .profile-container {
        padding: 0px;
    }

    .profile-tab-btn{
        padding: 8px 20px;
        border-radius: var(--radius-xl);
    }

    .profile-tabs {
        gap: 0.5rem;
    }

    .profile-tab-btn i{
        font-size: 1.5rem;
    }

    .profile-tab-text{
        display: none;
    }

    .form-profile-column {
        background-color: transparent;
        padding: 0px;
        border-radius: var(--radius-card);
        border: none;
    }
}
