.boton {
    max-width: 95px;
    min-width: 40px;
    min-height: 35px;
    margin: 2px 0;
    border: none;
    border-radius: var(--radius-element);
    cursor: pointer;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding: 0;
    color: whitesmoke;
    font-size: var(--font-size-xs);
}

.boton .boton-text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 50px 5px 10px;
}

.boton .boton-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 16px;
    color: white;
    transition: width 0.2s ease;
}

.boton .boton-icon i{
    transition: transform 0.2s ease;
}

/* Hover */
.boton:hover{
    box-shadow: var(--shadow-material);
}
.boton:hover .boton-text {
    color: transparent;
}

.boton:hover .boton-icon {
    width: 100%;
}

.boton:hover .boton-icon i{
    transform: scale(1.1);
}

/* Active */
.boton:active .boton-icon i {
    transform: scale(0.9);
}