/* Categorías */

.section-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;

    padding: 2rem 1rem;
}

.section-header {
    width: 100%;
    max-width: var(--site-max-width);

    display: flex;
    flex-direction: column;

    gap: 5px;

    margin: 0 auto;

    line-height: 1;
}

.section-title {
    width: 100%;

    font-weight: bold;
    text-align: start;
}

.section-subtitle {
    width: 100%;

    display: flex;

    text-align: start;

    font-size: var(--font-size-h5);
    font-weight: 400;
}

.section-header-conteiner {
    width: 100%;
    max-width: var(--site-max-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.section-header-conteiner .section-header {
    width: fit-content;
    max-width: none;
    margin: 0;
    padding: 0;
}

/* Swiper */

.categories-slider {
    width: 100%;
    max-width: var(--site-max-width);

    position: relative;

    overflow: hidden;
}

.categories-slider .swiper-wrapper {
    display: flex;
}

.categories-slide {
    height: auto;

    display: flex;
}

/* Loading */

.categories-slider.is-loading .swiper-wrapper,
.categories-slider.is-loading .swiper-button-prev,
.categories-slider.is-loading .swiper-button-next,
.categories-slider.is-loading .swiper-pagination {
    display: none;
}

.categories-slider:not(.is-loading) .categories-skeleton {
    display: none;
}

/* Skeleton */
/* Skeleton */

.categories-skeleton {
    width: 100%;

    display: grid;

    overflow: hidden;

    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 3px;
}

/* Ocultar todos */

.categories-skeleton .category-skeleton-item {
    display: none;
}

/* Mobile -> mostrar 3 */

.categories-skeleton .category-skeleton-item:nth-child(-n + 3) {
    display: block;
}

/* 640px -> mostrar 4 */

@media (min-width: 640px) {

    .categories-skeleton {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 5px;
    }

    .categories-skeleton .category-skeleton-item {
        display: none;
    }

    .categories-skeleton .category-skeleton-item:nth-child(-n + 4) {
        display: block;
    }
}

/* 800px -> mostrar 5 */

@media (min-width: 800px) {

    .categories-skeleton {
        grid-template-columns: repeat(5, minmax(0, 1fr));
        gap: 8px;
    }

    .categories-skeleton .category-skeleton-item {
        display: none;
    }

    .categories-skeleton .category-skeleton-item:nth-child(-n + 5) {
        display: block;
    }
}

/* 1024px -> mostrar 6 */

@media (min-width: 1024px) {

    .categories-skeleton {
        grid-template-columns: repeat(6, minmax(0, 1fr));
        gap: 16px;
    }

    .categories-skeleton .category-skeleton-item {
        display: none;
    }

    .categories-skeleton .category-skeleton-item:nth-child(-n + 6) {
        display: block;
    }
}

/* 1280px -> mostrar 8 */

@media (min-width: 1280px) {

    .categories-skeleton {
        grid-template-columns: repeat(8, minmax(0, 1fr));
        gap: 16px;
    }

    .categories-skeleton .category-skeleton-item {
        display: none;
    }

    .categories-skeleton .category-skeleton-item:nth-child(-n + 8) {
        display: block;
    }
}

.category-skeleton-item {
    width: 100%;

    aspect-ratio: 1 / 1;

    border-radius: 999px;

    background: var(--shimmer-bg);

    position: relative;
    overflow: hidden;
}

/* Shimmer */

.shimmer::before {
    content: "";

    position: absolute;
    inset: 0;

    transform: translateX(-100%);

    background: linear-gradient(
        90deg,
        var(--shimmer-bg) 0%,
        var(--shimmer-gradient) 50%,
        var(--shimmer-highlight) 100%
    );

    animation: shimmer 1.3s infinite;
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}

/* Paginación */

.categories-slider .swiper-pagination {
    position: relative;

    margin-top: 1rem;
}

.categories-slider .swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;

    border-radius: 999px !important;

    background: var(--color-site-text) !important;

    opacity: .5;

    transition: .3s ease;
}

.categories-slider .swiper-pagination-bullet-active {
    width: 40px !important;

    opacity: 1;
}

.categories-slider .swiper-pagination-bullet:hover {
    opacity: .8;

    transform: scale(1.1);
}

/* Navegación */

.categories-slider .swiper-button-prev,
.categories-slider .swiper-button-next {
    width: 45px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 999px;

    background: rgba(0,0,0,.52);

    color: white !important;

    transition: transform .3s ease;

    z-index: 20;
}

.categories-slider .swiper-button-prev {
    padding: 10px 10px 10px 8px !important;
}

.categories-slider .swiper-button-next {
    padding: 10px 8px 10px 10px !important;
}

.categories-slider .swiper-button-prev:hover,
.categories-slider .swiper-button-next:hover {
    transform: scale(1.1);
}

.categories-slider .swiper-button-disabled {
    opacity: .35;

    cursor: default !important;

    pointer-events: none;
}

.categories-slider .swiper-button-prev::after,
.categories-slider .swiper-button-next::after {
    content: none;
}

/* Card */

.category-card {
    width: 100%;

    display: flex;
    align-items: end;
    justify-content: center;

    aspect-ratio: 1 / 1;

    position: relative;
    overflow: hidden;

    border-radius: 999px;

    text-decoration: none;

    box-shadow: var(--box-shadow-card);

    transition: box-shadow .2s ease;
}

.category-card:hover {
    box-shadow: var(--box-shadow-card-hover);
}

.category-image {
    width: 100%;
    height: 100%;

    overflow: hidden;
}

.category-image img {
    width: 100%;
    height: 100%;

    display: block;

    object-fit: cover;
}

.category-name {
    position: absolute;
    inset: auto 0 0 0;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;

    text-align: center;

    color: white;

    font-size: var(--font-size-h4);
    font-weight: bold;

    text-transform: uppercase;

    background: var(--color-bg-transparent);

    font-family: var(--font-secondary);
}
