/* ============================================
   ÚLTIMOS PRODUCTOS - Sección de slider
   ============================================ */

.swiper-products-empty {
    margin: 0px;
    padding: 0px;
    display: none;
}

.section-header{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    line-height: 1.1;
}

.section-title{
    text-align: start;
}

/* Slider */
.products-slider {
    width: 100%;
    max-width: var(--site-max-width);
}

.products-slide {
    height: auto;
}


/* Paginación */
.products-slider .swiper-pagination {
    position: relative;
    margin-top: 1.5rem;
    overflow: visible;
}

.products-slider .swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    background: var(--color-site-text) !important;
    opacity: 0.5;
    border-radius: 6px !important;
    transition: all 0.3s ease;
}

.products-slider .swiper-pagination-bullet-active {
    background: var(--color-site-text) !important;
    opacity: 1;

    width: 40px !important;
}

.products-slider .swiper-pagination-bullet:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

/* Estado sin productos */
.no-products {
    text-align: center;
    padding: 3rem 2rem;
}

.no-products i {
    font-size: 4rem;
    color: var(--color-muted);
    margin-bottom: 1rem;
    opacity: 0.5;
}

.no-products p {
    color: var(--color-muted);
    font-size: 1rem;
    margin: 0;
}

/* Controles de navegación */
.products-slider .swiper-button-prev,
.products-slider .swiper-button-next {
    transition: transform 0.3s ease;
    color: white !important;
    width: 45px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.521);
    border-radius: 40px;

}

.products-slider .swiper-button-prev{
    padding: 10px 10px 10px 8px !important;
}

.products-slider .swiper-button-next{
    padding: 10px 8px 10px 10px !important;
}

.products-slider .swiper-button-prev:after,
.products-slider .swiper-button-next:after {
    content: none;
}

.products-slider .swiper-button-prev:hover,
.products-slider .swiper-button-next:hover {
    transform: scale(1.1);
}

/* Responsive */
@media (max-width: 1024px) {

    .swiper-products-header {
        margin-bottom: 2rem;
    }
}

@media (max-width: 768px) {
    .product-content {
        padding: 0.75rem;
    }

    .product-footer {
        gap: 0.25rem;
    }

    .product-btn {
        font-size: 0.75rem;
        padding: 0.4rem 0.5rem;
    }
}
