/* Sección ¿Por qué comprar con nosotros? */

.why-us-features {
    max-width: var(--site-max-width);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.why-us-feature {
    flex: 1 1 200px;
    border-radius: var(--radius-card);
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: var(--color-card-bg);
    align-items: center;
    text-align: center;
    transition: box-shadow 0.25s, transform 0.25s;
}
.why-us-feature:hover {
    box-shadow: var(--box-shadow-site-hover);
    transform: translateY(-2px) scale(1.03);
}
.why-us-feature i {
    font-size: var(--font-size-h1);
    color: var(--color-site-nav);
}
.why-us-feature h4 {
    font-family: var(--font-secondary);
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.why-us-feature p {
    color: #555;
}
@media (max-width: 900px) {
    .why-us-features{
        gap: 8px;
    }
}

@media (max-width: 500px) {
    .why-us-features{
        gap: 3px;
    }
}
