/*=== Ripple Button === */
.ripple-btn {
    position: relative;
    overflow: hidden;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.ripple-btn:active {
    transform: scale(0.97);
}

/* === Ripple === */
.ripple-btn .ripple {
    position: absolute;
    border-radius: 50%;
    background-color: var(--ripple-color-btn);
    transform: scale(0);
    pointer-events: none;
    opacity: 1;
    z-index: -1;
    transition: transform 0.9s ease-out, opacity 0.5s ease-out;
}

.ripple-card {
    position: relative;
    overflow: hidden;
    user-select: none;
    transition: background 0.3s ease, transform 0.2s ease;
}

.ripple-card .ripple {
    position: absolute;
    border-radius: 50%;
    background-color: var(--ripple-color-card);
    transform: scale(0);
    pointer-events: none;
    opacity: 1;
    z-index: -1;
    transition: transform 0.9s ease-out, opacity 0.5s ease-out;
}